<h1>CoMony</h1>
<h3>一緒に作業する会</h3>
<p>
  参加メンバー
</p>
<ul>
  <li>

    <%= link_to 'Guest1の今日のタスク' , "/pages/user?userid=1 "%>
  </li>
  <li>
    <%= link_to 'Guest2の今日のタスク' , "/pages/user?userid=2" %>
  </li>
</ul>
